*{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui,sans-serif;
}

:root{
  --bg-color: #f3f4f6;
  --card-bg: #ffff;
  --text-primary: #111827;
  --text-secundary: #6b7280;
  --accent: #3b82f6;
}

body{
  background-color: var(--bg-color);
  color: var(--text-primary);
}
